/node_modules
/public/hot
/public/storage
/public/configs/amocrm_token.json
/public/configs/auth.txt
/public/configs/pbx_key.txt
/public/configs/pbx_users.json
/public/configs/workly_auth.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
